Repository cyberrangecz/frontend-user-and-group-model: changes, and which GitLab CI jobs are due for each by the changed paths.
All: codeStyle, buildLibrary, auto-tag

codeStyle:
  stage: codeStyle
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run lint

buildLibrary:
  stage: build
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - .npm/
    policy: pull
  script:
  - npm run build-library
  artifacts:
    paths:
    - ./dist
    expire_in: 1 hour

auto-tag:
  image: registry.gitlab.ics.muni.cz:443/csirt-mu-devel/csirt-mu-devel-artifact-repository/docker-common-ci:v0.1.6
  variables:
    GIT_STRATEGY: clone
  stage: auto-tag
  script:
  - source /app/export-tag-vars.sh VERSION.txt
  - echo $TAG_VERSION && echo $TAG_MESSAGE
  - /app/import-ssh-key.sh
  ...

Update changelog
  VERSION.txt
Due: codeStyle, buildLibrary, auto-tag

[CI/CD] Update packages.json version based on GitLab tag.
  projects/kypo-user-and-group-model/package.json
Due: codeStyle, buildLibrary

[CI/CD] CHANGELOG.md file updated with commits between the current and previous tag.
  CHANGELOG.md
Due: none

Add license file
  LICENSE
Due: codeStyle, buildLibrary

Resolve "Update to Angular 13"
  .gitignore
  .gitlab-ci.yml
  VERSION.txt
  package-lock.json
  package.json
  projects/kypo-user-and-group-model/src/test.ts
Due: codeStyle, buildLibrary, auto-tag

Resolve "Update to Angular 14"
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  projects/kypo-user-and-group-model/tsconfig.lib.json
  tsconfig.json
Due: codeStyle, buildLibrary, auto-tag

Update to Angular 15
  .gitlab-ci.yml
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  projects/kypo-user-and-group-model/src/test.ts
  projects/kypo-user-and-group-model/tsconfig.lib.json
  tsconfig.json
Due: codeStyle, buildLibrary, auto-tag

Update to Angular 16
  .eslintrc.json
  .gitlab-ci.yml
  VERSION.txt
  package-lock.json
  package.json
  projects/kypo-user-and-group-model/.eslintrc.json
  projects/kypo-user-and-group-model/package.json
Due: codeStyle, buildLibrary, auto-tag

Update to angular 18
  .eslintrc.json
  .gitlab-ci.yml
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  projects/kypo-user-and-group-model/.eslintrc.json
  projects/kypo-user-and-group-model/package.json
  projects/kypo-user-and-group-model/src/lib/group/group.model.ts
  tsconfig.json
Due: codeStyle, buildLibrary, auto-tag

Add updated eslint config
  eslint.config.js
  projects/kypo-user-and-group-model/eslint.config.js
Due: codeStyle, buildLibrary

Revert eslint changes
  eslint.config.js
  package-lock.json
  package.json
  projects/kypo-user-and-group-model/.eslintrc.json
  projects/kypo-user-and-group-model/eslint.config.js
Due: codeStyle, buildLibrary

Revert eslintrc update
  .eslintrc.json
Due: codeStyle, buildLibrary

Update pipeline
  .gitlab-ci.yml
  package.json
Due: codeStyle, buildLibrary

Force update via VERSION.txt
  VERSION.txt
Due: codeStyle, buildLibrary, auto-tag

Rename packages, remove unnecessary files and reformat
  .editorconfig
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  VERSION.txt
  angular.json
  package-lock.json
  package.json
  projects/kypo-user-and-group-model/README.md
  projects/kypo-user-and-group-model/karma.conf.js
  projects/kypo-user-and-group-model/ng-package.json
  projects/kypo-user-and-group-model/package.json
  projects/kypo-user-and-group-model/tsconfig.lib.json
  projects/kypo-user-and-group-model/tsconfig.lib.prod.json
  projects/kypo-user-and-group-model/tsconfig.spec.json
  tsconfig.json
Due: auto-tag

Update naming of files and in code
  README.md
  angular.json
  package.json
  projects/kypo-user-and-group-model/README.md
  projects/user-and-group-model/.eslintrc.json
  projects/user-and-group-model/README.md
  projects/user-and-group-model/karma.conf.js
  projects/user-and-group-model/ng-package.json
  projects/user-and-group-model/package.json
  projects/user-and-group-model/src/lib/group/group.model.ts
  projects/user-and-group-model/src/lib/microservice/microservice-role.model.ts
  projects/user-and-group-model/src/lib/microservice/microservice.model.ts
  projects/user-and-group-model/src/lib/role/user-role.ts
  projects/user-and-group-model/src/lib/user/user.ts
  projects/user-and-group-model/src/public-api.ts
  projects/user-and-group-model/src/test.ts
  projects/user-and-group-model/tsconfig.lib.json
  projects/user-and-group-model/tsconfig.lib.prod.json
  projects/user-and-group-model/tsconfig.spec.json
  tsconfig.json
Due: codeStyle, buildLibrary

Readmes, remove json server, update package.json, update environments, fix routes
  package.json
  tsconfig.json
Due: codeStyle, buildLibrary

Migration
  .prettierrc
  LICENSE
  README.md
  package-lock.json
  package.json
  projects/user-and-group-model/karma.conf.js
  projects/user-and-group-model/package.json
  projects/user-and-group-model/src/lib/group/group.model.ts
  projects/user-and-group-model/src/lib/microservice/microservice-role.model.ts
  projects/user-and-group-model/src/lib/microservice/microservice.model.ts
  projects/user-and-group-model/src/lib/role/user-role.ts
  projects/user-and-group-model/src/lib/user/user.ts
  projects/user-and-group-model/src/test.ts
  projects/user-and-group-model/tsconfig.spec.json
Due: codeStyle, buildLibrary

add actions
  .github/workflows/github-actions.yml
  package.json
  projects/user-and-group-model/package.json
Due: codeStyle, buildLibrary

Set version to 1.0.0
  projects/user-and-group-model/package.json
Due: codeStyle, buildLibrary

Add license metadata
  projects/user-and-group-model/package.json
Due: codeStyle, buildLibrary

bump version
  projects/user-and-group-model/package.json
Due: codeStyle, buildLibrary

Path conditions:
  codeStyle: not (any of: CHANGELOG.md)
  buildLibrary: not (any of: CHANGELOG.md)
  auto-tag: any of: VERSION.txt
